.container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;  

  width: 600px;

  background-color: cyan;    
}

.form_input{
  background-color: red;
  border-collapse: collapse;

  margin: 0 auto;
}

.form_input th{
  width: 100px;  
  text-align: right;
}

.form_input td{
  width: 200px;
  text-align: center;
}
.form_input input{
  width: 160px;
}

#box_notation{
  background-color: lightblue;  
  width: 300px;
  text-align: center;

  margin: 10px auto;  
}

.box_submit{
  width: 300px;
  background-color: yellow;

  margin: 10px auto;
}

#btn_submit{
  width: 50px;  

  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 125px;
  margin-right: 125px;
  /*   margin-left: auto;      センタリングされない*/
  /*   margin-right: auto;     センタリングされない*/
}
